<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  image can go here
</p>
<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>
<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Posted on:</strong>
  <%= @article.posted_on %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
  <%= link_to 'New Article', new_article_path %>
